/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
