/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  margin: 0;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
