.nojs .main-nav {
  display: block;
  position: initial;
}

.nojs .main-header__toggle {
  display: none;
}

.nojs .contacts__img {
  display: block;
}

.nojs .contacts__location {
  display: none;
}
