.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: $basic-green;
  display: block;

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 767px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    max-width: 1439px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    margin: 0 auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}
