/* здесь используйте глобальные переменные */
$primary-font: "Lato", "Arial", "Helvetica", sans-serif;
$secondary-font: "Oswald", "Arial", "Helvetica", sans-serif;
$basic-green : #68b738;
$dark-grey : #444444;
$black : #000000;
$white: #ffffff;
$light-grey :#222222;
$bg-color: #f2f2f2;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
