
.additional-products__heading {
  z-index: 0;
  margin: 1px 0 33px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  position: relative;
  padding: 0 40px 0 0;
  background-color: $white;
  width: fit-content;
  font-family: $secondary-font;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    width: 100vw;
    height: 2px;
    background-color: $basic-green;
    top: 50%;
    box-shadow: 100vw 0 0 $basic-green;
    right: 0;
    z-index: -1;
  }

  &::after {
    top: 0;
    left: -30px;
    z-index: -1;
    width: calc(100% + 30px);
    height: 100%;
    background: $white;
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    width: fit-content;
    margin-bottom: 80px;
    padding: 0 40px;

    &::after {
      width: 100%;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 78px;
    margin-top: 0;
    width: fit-content;
    padding: 0;

    &::after {
      width: calc(100% + 80px);
      left: -40px;
    }
  }
}

.additional-products__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
  }


  @media (min-width: $desktop-width) {

    margin-bottom: 0;
  }
}

.additional-products__item {
  position: relative;


  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    margin: 0;
    padding: 27px 38px;
    column-gap: 200px;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
      padding-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: 298px 298px 298px;
    column-gap: 30px;
    padding: 10px 0;

    &:last-child {
      padding-bottom: 15px;
    }
  }
}


.additional-container {
  background-position: center;
  background-color: $basic-green;
  margin-top: 35px;
  background-image: (url("../../images/raster/group@1x.png"), url("../../images/raster/group@1x.webp"), url("../../images/raster/group@2x.png"), url("../../images/raster/group@2x.webp"));
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 59px 61px 43px 58px;


  @media (min-width: $tablet-width) {
    padding: 67px 61px 62px 70px;
    min-height: 97px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;
    background-image: (url("../../images/raster/group-tablet@1x.png"), url("../../images/raster/group-tablet@1x.webp"), url("../../images/raster/group-tablet@2x.png"), url("../../images/raster/group-tablet@2x.webp"));
  }


  @media (min-width: $desktop-width) {
    padding: 56px 42px 43px;
    background-image:
      (url("../../images/raster/group@1x.png"),
      url("../../images/raster/group@1x.webp"),
      url("../../images/raster/group@2x.png"),
      url("../../images/raster/group@2x.webp"));
    margin: 0;
  }
}

.additional-products__promotion {
  margin: 0;
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  width: 161px;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    display: block;
    background-image: url("../../icons/icon-gift.svg");
    width: 80px;
    height: 80px;
    margin: 0 auto 48px;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 175px;
    width: 528px;
    align-items: center;


    &::before {
      margin: -10px 0 0 8px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    display: flex;
    flex-flow: column-reverse wrap;
    width: 161px;

    &::before {
      margin: 0 0 50px;
      order: 1;
    }
  }
}
