.advantages {
  color: $dark-grey;
  padding: 20px 0 50px;

  @media (min-width: $tablet-width) {
    padding: 30px 0 50px;
    position: relative;

    &::after {
      content: "";
      background-color: #e6e6e6;
      width: 100vw;
      height: 1px;
      display: block;
      position: absolute;
      bottom: 0;
      left: -100%;
      box-shadow: 100vw 0 0 #e6e6e6;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 50px 0;

    &::after {
      display: none;
    }
  }
}

.advantages__tittle {
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
  }
}

.advantages__list {
  display: grid;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 136px;
    counter-reset: item;
  }

  @media (min-width: $desktop-width) {
    gap: 77px;
  }
}

.advantages__item {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  display: flex;
  align-items: center;


  &::before {
    content: "";
    width: 60px;
    height: 60px;
    display: inline-block;
    background-color: $basic-green;
    margin-right: 20px;
    flex-shrink: 0;
    background-size: 26px 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--leaf::before {
    background-image: url("../../icons/stack.svg#leaf");
  }

  &--powder::before {
    background-image: url("../../icons/stack.svg#powder");
  }

  &--cutlery::before {
    background-image: url("../../icons/stack.svg#cutlery");
  }

  &--clock::before {
    background-image: url("../../icons/stack.svg#clock");
  }

  @media (min-width: $tablet-width) {
    padding: 50px 17px 46px 0;
    width: 230px;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    gap: 30px;
    background-size: 136px 280px;
    position: relative;

    &::after {
      color: $bg-color;
      counter-increment: item;
      font-size: 280px;
      line-height: 280px;
      content: counter(item);
      font-family: $secondary-font;
      position: absolute;
      z-index: -1;
      top: 10px;
      right: 0;
      left: 120px;
    }

    &::before {
      width: 80px;
      height: 80px;
      margin: 0;
    }
  }
}

.advantages__text {
  margin: 0;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
  }
}

.additional-container {
  background-image: url("../../images/raster/group@2x.png");
  background-repeat: no-repeat;
  background-position: center top;
}
