.button {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  transition-duration: none;
}

.button--succes {
  background-color: $basic-green;
  color: $white;
}

.button--ligth {
  background-color: $bg-color;
  color: $dark-grey;
}
