td.card__value {
  margin: 0;
  text-align: end;
}

.card__link {
  grid-column: 1/3;
}

.card__image {
  height: revert-layer;

  @media (min-width: $tablet-width) {
    display: block;
    margin: -70px auto 20px;

    &--small {
      margin: -90px auto 35px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;

    &--small {
      margin: -90px auto 30px;
    }
  }
}

.card__title-link {
  width: 76px;
  text-decoration: none;
  color: $light-grey;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin-bottom: 15px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 135px;
    text-align: center;
    display: block;
    margin: 0 auto 14px;
  }

  @media (min-width: $desktop-width) {

    display: block;
    margin: 0 auto 16px;
  }
}

.card__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: $secondary-font;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__options {
  margin: 0;
  width: 100%;
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__options td {
  padding: 0;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $primary-border-color;
    padding: 6px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 0 7px;
  }
}

.card__link-button {

  grid-column: 1/3;
  text-decoration: none;


  @media (min-width: $tablet-width) {
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 33px;
  }
}
