.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 26px 0;
  align-items: center;


  @media (min-width: $tablet-width) {
    padding: 60px 40px;
  }

  @media (min-width: $desktop-width) {
    z-index: 3;
    background-color: $white;
    position: absolute;
    top: 95px;
    left: 110px;
    padding: 3px 48px;
    width: 565px;
    height: 199px;
  }
}

.contacts__address {
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  margin: 0;
  flex: 0 0 50%;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    max-width: 157px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    max-width: 188px;
  }
}

.contacts__address span {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
  }
}

.contacts__text {
  color: #111111;
  font-family: $secondary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {

    font-size: 20px;
    line-height: 26px;
    max-width: 170px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 32px;
  }
}

.contacts__location {
  position: relative;
  width: 100%;
  height: 362px;
  border: none;
  display: block;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.contacts__img {
  display: none;
  margin: 0 auto;
}
