.slider__button {
  cursor: pointer;
  display: block;
  background-color: $dark-grey;
  position: absolute;
  top: 15%;
  left: 50%;
  border-radius: 2px;
  border: none;
  width: 4px;
  height: 100%;
}

.slider {
  position: relative;
}


.slider__button::after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: $white;
  border-radius: 50%;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../icons/stack.svg#slider-button");
}
