.logotype__name {
  @media (min-width: $tablet-width) {
    position: relative;
    margin-left: 14px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
    margin-left: 10px;
  }
}

