.logotype {
  display: flex;
  align-items: center;


  @media (min-width: $tablet-width) {
    gap: 13px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}

.logotype:hover {
  opacity: 0.8;
}

.logotype:active {
  opacity: 0.6;
}

.logotype picture {
  flex-shrink: 0;
}


.logo__picture {
  display: block;
  width: 33px;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
  }
}

.logotype__name {
  display: block;
  width: 101px;
  height: 18px;

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.logotype__name-footer {
  width: 128px;
  height: 24px;
}
