.logotype {
  display: flex;
  align-items: center;


  @media (min-width: $tablet-width) {
    gap: 13px;
    height: auto;
  }
}


.logotype:hover {
  opacity: 0.8;
}

.logotype:active {
  opacity: 0.6;
}

.logotype__name {
  @media (min-width: $desktop-width) {
    height: 31px;
    min-width: 121px;

    &--footer {
      width: 128px;
    }
  }
}
