.main-container__catalog {
  @media (min-width: $tablet-width) {
    padding: 50px 0 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 0 0;
  }
}


.main-container__heading {
  width: 100%;
  text-align: center;
  text-wrap: nowrap;
  margin: 27px -11px 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100vw;
    height: 1px;
    background-color: #d9d9dd;
    position: absolute;
    left: -100%;
    box-shadow: 100vw 0 #d9d9dd;
  }

  &::before {
    bottom: 63px;
  }

  &::after {
    top: 75px;
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 85px;
    text-align: left;

    &::before,
    &::after {
      display: none;
    }
  }
}

