.main-nav {
  color: $black;
  font-size: 20px;
  line-height: 20px;
  background-color: $white;
  width: 100%;
  z-index: 2;
  position: absolute;
  left: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 436px;
    text-wrap: nowrap;
    font-size: 18px;
    line-height: 24px;
    margin-right: 5px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    width: 50%;
    background-color: inherit;
    padding-top: 9px;
    padding-left: 133px;
    box-sizing: border-box;
  }
}


.main-nav__toggle {
  background-image: url("../../icons/stack.svg#burger");
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  border: none;

  &--open {
    background-image: url("../../icons/stack.svg#cross");

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-nav__list {
  display: flex;
  flex-flow: column wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  gap: 33px;


  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-nav__item {
  padding: 25px 0;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__link {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: 24px;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 12px 0;
    display: block;

    &--active {
      border-bottom: 2px solid $basic-green;
      padding-bottom: 9px;
    }


    @media (min-width: $desktop-width) {
      &--active::after {
        margin-top: 5px;
      }
    }
  }


  &--opposite {
    @media (min-width: $desktop-width) {
      color: $white;
    }
  }

  &--page::after {
    @media (min-width: $desktop-width) {
      content: "";
      display: block;
      height: 2px;
      background-color: $white;
      position: absolute;
      width: 100%;
      margin-top: 6px;
    }
  }
}

