.main-header {
  background-color: #ffffff;
  color: $white;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-header--index {
  position: relative;
  color: $white;
  border-bottom: none;
}

.main-header__container {
  padding-top: 13px;
  padding-bottom: 14px;


  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: $desktop-width) {
      margin-bottom: 110px;
      padding-bottom: 0;
      padding-top: 50px;
    }
  }

  &--opposite {
    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }
}

.main-header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-top: 55px;
    min-height: 60px;
  }
}

.main-header__logotype {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;


  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

.main-header--nojs .main-header__toggle {
  display: none;
}
