.main-nav {
  color: $black;
  font-size: 20px;
  line-height: 20px;
  background-color: $white;
  width: 100%;
  z-index: 2;
  position: absolute;
  left: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 436px;
    text-wrap: nowrap;
    font-size: 18px;
    line-height: 24px;
    margin-right: 5px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    width: 50%;
    background-color: inherit;
    padding-top: 9px;
    padding-left: 133px;
    box-sizing: border-box;
  }
}


.main-nav__toggle {
  background-image: url("../../icons/stack.svg#cross");
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  background-repeat: no-repeat;


  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  flex-flow: column wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  gap: 33px;


  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-nav__item {
  padding: 25px 0;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__link {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: 24px;
  color: $black;
}
