.page-footer {
  padding: 0 20px;
  width: 100%;

  &--index {
    background-color: $bg-color;
  }

  &--opposite {
    background-color: $bg-color;
  }

  @media (min-width: $mobile-width) {
    padding: 0;
  }
}


.page-footer__contacts {
  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;
  }
}

.page-footer__wrapper {
  background: $bg-color;
  margin: 0;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 120px;
    padding: 58px 30px;
  }

  @media (min-width: $desktop-width) {
    gap: 376px;
    padding: 68px 110px;
  }
}

.page-footer__logotype {
  height: 34px;
  width: 128px;
  display: block;

  &:hover .logotype-name--footer,
  .page-footer__logotype:focus .logotype-name--footer {
    fill: #3e3e3e;
  }

  &:active .logotype-name--footer {
    fill: #6b6b6b;
    opacity: 0.3;
  }
}

.main-footer__wrap {
  width: 57%;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 163px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 157px;
    text-align: left;
  }
}

.social__list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style-type: none;
  position: relative;
  margin: 0;
  justify-content: center;


  @media (min-width: $tablet-width) {
    padding: 3px;

    &::before,
    &::after {
      display: none;
    }
  }
}
