.program_ {
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 0 0 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 90px 0 30px;
  }
}

.program__list {
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  list-style-type: none;
  gap: 20px;


  @media (min-width: $tablet-width) {
    gap: 45px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.program__item-tittle {
  display: flex;
  align-items: center;
  font-weight: 400;
  margin: 24px 25px 25px 19px;
  font-size: 24px;
  line-height: 37px;
  position: relative;
  flex-wrap: wrap;
  font-family: $secondary-font;
}

.program__item {
  font-family: $secondary-font;
  font-weight: 400;
  background: $bg-color;
  color: #000000;
  flex-flow: wrap;
  justify-content: start;
  align-items: center;
  font-style: normal;
  display: flex;
  position: relative;
  padding: 23px 38px 4px 41px;
  font-size: 24px;
  line-height: 37px;
}


.program__icon--pro::after {
  content: "";
  background-image: url("../../icons/stack.svg#black-pantere");
  background-repeat: no-repeat;
  position: absolute;
  width: 67px;
  height: 28px;
  top: 13px;
  left: -10px;
}

.program__icon--slim::after {
  content: "";
  background-image: url("../../icons/stack.svg#black-cat");
  background-repeat: no-repeat;
  position: absolute;
  width: 36px;
  height: 50px;
  top: -2px;
  left: 5px;
}


.program__icon {
  position: relative;
  display: inline-block;
  background-color: $basic-green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}


.program__item-text {

  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
  text-transform: initial;
  margin: 5px -1px 6px;

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #d9d9d9;
    margin-top: 23px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 58%;
    margin: 0 0 50px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 23px;
  }
}

.program__item-button {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-decoration: none;
  width: fit-content;
  margin-top: 11px;

  &::after {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#icon-raw");
    background-repeat: no-repeat;
    background-size: 32px 12px;
    width: 32px;
    height: 12px;
    margin-left: 16px;
    margin-top: 3px;
  }

  &:hover::after {
    background-position: center;
  }

  &:focus::after {
    background-position: center;
    opacity: 0.3;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: auto;

    &::after {
      margin-left: 25px;
    }
  }
}

