.program_ {
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 0 0 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 90px 0 30px;
  }
}

.program__list {
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    gap: 45px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.program__tittle {
  display: flex;
  align-items: center;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 25px;
  font-size: 24px;
  line-height: 37px;
  position: relative;
  flex-wrap: wrap;
}

.program__item {
  font-family: $secondary-font;
  font-weight: 400;
  background: $bg-color;
  color: #000000;
  text-transform: uppercase;
  flex-flow: wrap;
  justify-content: start;
  align-items: center;
  font-style: normal;
  display: flex;
  margin: 108 0 29px;
  gap: 20px;
  position: relative;
  padding: 20px;
}


.program__icon--slim::after {
  content: "";
  background-image: url("../../icons/stack.svg#black-pantere");
  background-repeat: no-repeat;
  position: absolute;
  width: 67px;
  height: 28px;
  top: 11px;
  left: -13px;
}

.program__icon--pro::after {
  content: "";
  background-image: url("../../icons/stack.svg#black-cat");
  background-repeat: no-repeat;
  position: absolute;
  width: 36px;
  height: 50px;
  top: -3px;
  left: 6px;
}

.program__icon {
  position: relative;
  display: inline-block;
  background-color: $basic-green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.program__icon--slim {
  margin-right: 35px;
}

.program__icon--pro {
  margin-right: 35px;
}


.program__item-text {
  margin: 0 0 20px;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
  text-transform: initial;


  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: #d9d9d9;
    margin-top: 23px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 58%;
    margin: 0 0 50px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 23px;
  }
}

.program__item-title {
  display: flex;
  align-items: center;
}
