
.program__list {
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  list-style-type: none;
  gap: 20px;


  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.program__item-tittle {
  display: flex;
  align-items: center;
  font-weight: 400;
  margin: 0;
  gap: 20px;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 37px;
  position: relative;
  flex-wrap: wrap;
  font-family: $secondary-font;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    gap: 62px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
  }
}

.program__item {
  font-family: $secondary-font;
  font-weight: 400;
  background: $bg-color;
  color: #000000;
  position: relative;
  padding: 23px 20px;
  font-size: 24px;
  line-height: 37px;

  @media (min-width: $tablet-width) {
    padding: 77px 52px 57px;
  }
}

.program__icon--pro::after {
  content: "";
  background-image: url("../../icons/stack.svg#black-pantere");
  background-repeat: no-repeat;
  position: absolute;
  width: 67px;
  height: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
  }
}

.program__icon--slim::after {
  content: "";
  background-image: url("../../icons/stack.svg#black-cat");
  background-repeat: no-repeat;
  position: absolute;
  width: 36px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    transform: translate(-50%, -57%);
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    transform: translate(-50%, -57%);
  }
}


.program__icon {
  position: relative;
  display: inline-block;
  background-color: $basic-green;
  border-radius: 50%;
  width: 50px;
  height: 50px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 11px;
    top: 15px;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 100px;
    height: 100px;
    right: 4px;
    top: -27px;
  }
}


.program__item-text {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
  text-transform: initial;
  margin: 0;
  margin-bottom: 18px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 24px;
  width: 96%;


  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 57%;
    margin: 0 0 51px;
    border: none;
    padding: 0;
  }


  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 23px;
  }
}

.program__item-button {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-decoration: none;
  width: fit-content;


  &::after {
    content: "";
    display: block;
    background-image: url("../../icons/stack.svg#icon-raw");
    background-repeat: no-repeat;
    background-size: 32px 12px;
    width: 32px;
    height: 12px;
    margin-left: 16px;
    margin-top: 3px;
  }

  &:hover::after {
    background-position: center;
  }

  &:focus::after {
    background-position: center;
    opacity: 0.3;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: auto;

    &::after {
      margin-left: 25px;
    }
  }
}

