.program__item {
  font-family: $secondary-font;
  font-weight: 400;

  color: #000000;
  text-transform: uppercase;
  flex-flow: wrap;
  justify-content: start;
  align-items: center;
  font-style: normal;
  display: flex;
  margin: 0 0 29px;
  gap: 20px;
  position: relative;
}


.program__item-title--slim::after {
  content: "";
  background-image: url("../../icons/stack.svg#black-pantere");
  background-repeat: no-repeat;
  position: absolute;
  width: 67px;
  height: 28px;
  top: 21px;
  left: -33px;
}

.program__icon--pro::after {
  content: "";
  background-image: url("../../icons/stack.svg#black-cat");
  background-repeat: no-repeat;
  position: absolute;
  width: 36px;
  height: 50px;
  top: -28px;
  left: -16px;
}

.program__icon {
  position: relative;
  display: inline-block;
}

.program__icon--slim {
  margin-right: 35px;
}

.program__icon--pro {
  margin-right: 35px;
}


.program__icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $basic-green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: block;
  z-index: -1;
}
