.promo {
  color: $white;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.promo__container {
  position: relative;
  padding: 0;

  @media (min-width: $desktop-width) {
    padding: 0 0 0 190px;
  }
}


.promo__tittle {
  z-index: 0;
  position: relative;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;


  @media (min-width: $tablet-width) {
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
    color: $black;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    top: 49px;
    min-width: 500px;
    margin-bottom: 88px;
  }
}

.promo__text {
  z-index: 1;
  position: relative;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-transform: uppercase;
    text-align: start;
    margin: 0 0 50px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }

  @media (min-width: $desktop-width) {

    margin: 0 0 54px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }
}

.promo__wrapper {
  position: relative;
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    max-width: 416px;
    margin-left: 90px;
    margin-top: 42px;
    min-height: 810px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    min-height: 596px;
  }
}

.promo__image {
  margin: 33px auto 0;
  display: block;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 709px;
    height: 810px;
    max-width: inherit;
    top: 68px;
    right: -203px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 552px;
    height: 499px;
    max-width: inherit;
    top: -67px;
    left: 367px;
    z-index: 1;
  }
}


.promo__button {
  list-style-type: none;
  padding: 9px 63px;


  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 15px 10px;
    width: 242px;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    padding: 13px 0;
    margin: 0;
  }
}
