.promo {
  color: $white;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 20px;
}


.promo__container {
  position: relative;
  padding: 0;

  @media (min-width: $desktop-width) {
    padding: 0 0 0 190px;
  }
}


.promo__tittle {
  z-index: 0;
  position: relative;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;


  @media (min-width: $tablet-width) {
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    padding-left: 84px;
  }
}

.promo__text {
  z-index: 1;
  position: relative;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-transform: uppercase;
    text-align: start;
    margin: 0 0 50px;
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }

  @media (min-width: $desktop-width) {
    padding-left: 84px;
  }
}

.promo__wrapper {
  position: relative;
}

.promo__image {

  margin: 33px auto 0;
  display: block;

  @media (min-width: $tablet-width) {
    margin: -50px auto 14px;
  }

  @media (min-width: $desktop-width) {
    margin: -208px 0 0 348px;
    z-index: 1;
    position: relative;
  }
}

.promo__button {
  list-style-type: none;
  padding: 9px 63px;


  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {

    width: 242px;
    position: absolute;
    top: 33px;
    left: 120px;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    top: 313px;
    left: 185px;
    width: 244px;
  }
}
