.slider {
  position: relative;
  display: flex;
  justify-content: center;
}

.slider__item {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 280px;
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 560px;
  }
}

.slider__wrapper {
  width: 100%;
  overflow: hidden;
}

.slider__wrapper--before {
  text-align: right;
}

.slider__wrapper--after {
  text-align: left;
}


.slider__image {
  max-width: 280px;

  @media (min-width: $tablet-width) {
    max-width: 560px;
  }
}

.slider__scale {
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  cursor: pointer;
}

.slider__bar {
  border-radius: 2px;
  width: 4px;
  height: 100%;
  cursor: pointer;
  background-color: grey;

  &:hover {
    background-color: $basic-green;
  }

  &:active {
    background-color: $basic-green;
    opacity: 0.6;
  }
}

.slider__togle {
  cursor: pointer;
  position: absolute;
  left: -24px;
  top: 203px;
  border: none;
  border-radius: 2px;
  display: block;


  &:hover {
    border: 2px solid $basic-green;
  }

  &:active {
    border: 2px solid $basic-green;
    opacity: 0.6;
  }

  &::after {
    content: "";
    background-color: #ffffff;
    background-image: url("../../icons/stack.svg#slider-button");
    border-radius: 50%;
    top: 53%;
    left: 53%;
    translate: (-50%, -50%);
    position: absolute;
    width: 40px;
    height: 40px;
  }


  &--right::after {
    transform: rotate(180deg);
    translate: (-50%, -50%);
  }

  &--left:hover::before,
  &--right:hover::after {
    border-right-color: $basic-green;
  }

  &--left:active::before,
  &--right:active::after {
    border-right-color: $basic-green;
  }
}


.slider__image--after {

  clip-path: (inset 0 0 0 50%);
}


.visually-hidden {
  display: none;
}
